<mat-table class="content-table mat-elevation-z0" [dataSource]="dataSource">

  <ng-container *ngFor="let disCol of displayedColumns;" matColumnDef="{{disCol}}">
    <mat-header-cell *matHeaderCellDef>{{disCol.toUpperCase()}}</mat-header-cell>
    <mat-cell class="table-cell" *matCellDef="let element "> {{element[disCol]}}</mat-cell>
  </ng-container>

  <ng-container *ngIf="allColumns.includes('Edit')" matColumnDef="Edit">
    <mat-header-cell *matHeaderCellDef>EDIT</mat-header-cell>
    <mat-cell class="table-cell" *matCellDef="let element ">
      <button type="button" class="new-btn btn btn-primary" (click)="onBtnClick(element['id'], 'edit')">Edit</button>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="allColumns.includes('View')" matColumnDef="View">
    <mat-header-cell *matHeaderCellDef>VIEW</mat-header-cell>
    <mat-cell class="table-cell" *matCellDef="let element ">
      <button type="button" class="new-btn btn btn-primary" (click)="onBtnClick(element['id'], '')">View</button>
    </mat-cell>
  </ng-container>

  <ng-container *ngIf="allColumns.includes('Delete')" matColumnDef="Delete">
    <mat-header-cell *matHeaderCellDef>DELETE</mat-header-cell>
    <mat-cell class="table-cell" *matCellDef="let element ">
      <button type="button" class="new-btn btn btn-primary" (click)="deleteElement(element['id'])">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="allColumns"></mat-header-row>

  <mat-row *matRowDef="let row; columns: allColumns;"></mat-row>

</mat-table>

