<div class="content-wrapper">
    <div class="page-head-wrapper">
      <h1 class="content-title">MANAGERS</h1>
      <button type="button" class="new-btn btn btn-primary" (click)="btnClick('/manager/create');"><i class="fa fa-plus"></i>New manager</button>
    </div>
    <div>
      <input
        class="search-box"
        type="text"
        placeholder="Search by name, surname, phone, unit or any other manager info" (change)="search($event)">
    </div>
    <app-list
      [dataSource]="searchKeyword != '' ? filteredClients : managers"
      [displayedColumns]="displayedColumns"
      [actionColumns]="actionColumns"
      [baseLink]="baseLink">
    </app-list>
  </div>
  