.btn-primary {
  background-color: #4893CB !important;
  border: none !important;
}

button {
  font-size: 13px !important;
}

.btn-outline-primary {
  border-color: #4893CB !important;
  color: #4893CB !important;
}

.btn-outline-primary:hover {
  background: #4893CB !important;
  color: white !important;
}

.btn-primary:hover {
  background: #003459 !important;
}
