<div class="content-wrapper">
  <div class="description-container">
    <h3 class="description1">Stay connected to your accounts 24/7</h3>
    <span class="description2">Secure online and mobile banking for your everyday financial needs during these challenging times.</span>
  </div>
  <div class="main">
    <div class="cards-container">
      <div class="card">
        <i class="material-icons icon">wifi</i>
        <span class="card-title">Online Banking</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
      </div>
      <div class="card">
        <i class="material-icons icon">phone_iphone</i>
        <span class="card-title">Mobile Banking</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
      </div>
      <div class="card">
        <i class="material-icons icon">collections_bookmark</i>
        <span class="card-title">Issue Documents</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
        <span class="card-description">Check your account balances, pay bills, transfer money and monitor spending.</span>
      </div>
    </div>
  </div>
</div>
